{% extends "base.html" %}
{% block title %}Agregar Cliente{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
<div>
    <h2>{{mensaje}}</h2>
</div>
<div>
    <form action='' method='POST'>
        <div>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value=""><br>
        </div>
        <div>
            <label for="appat">Apellido paterno</label><br>
            <input type="text" id="appat" name="appat" value=""><br>
        </div>
        <div>
            <label for="apmat">Apellido materno</label><br>
            <input type="text" id="apmat" name="apmat" value=""><br>
        </div>
        <div>
            <label for="mail">Correo electronico</label><br>
            <input type="text" id="mail" name="mail" value=""><br>
        </div>
        <div>
            <input type="submit" value="Agregar" name="agregar">
        </div>
    </form>
</div>
{% endblock %}