{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
<div>
    <h1>Agregar mascota</h1>
    <h2>{{mensaje}}</h2>
</div>
<div>
    <form action='' method='POST'>
        <div>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value=""><br>
        </div>
        <div>
            <label for="tipoAnimal">Tipo de animal:</label><br>
            <input type="text" id="tipoAnimal" name="tipoAnimal" value=""><br>
        </div>
        <div>
            <label for="raza">Raza:</label><br>
            <input type="text" id="raza" name="raza" value=""><br>
        </div>
        <div>
            <label for="color">Color del pelaje o piel:</label><br>
            <input type="text" id="color" name="color" value=""><br>
        </div>
        <div>
            <label for="peso">Peso:</label><br>
            <input type="text" id="peso" name="peso" value=""><br>
        </div>
        <div>
            <label for="altura">Altura:</label><br>
            <input type="text" id="altura" name="altura" value=""><br>
        </div>
        <div>
            <input type="submit" value="Agregar" name="agregar">
        </div>
    </form>

  <script>
/*
        function obtenSexo(check){
            //si uno esta checked, el otro no....se actualiza el valor de sexo
            var sexo = ""
            if(check.value == "macho"){
                if(check.checked == true){
                    document.getElementById("hembra").checked = false
                }
            }
            if(check.value == "hembra"){
                if(check.checked == true){
                    document.getElementById("macho").checked = false           
                }
            }
            sexo = check.value
            document.getElementById("sexo").value = sexo
        */
    </script>
</div>
{% endblock %}
