{% extends "base.html" %}
{% block title %}Citas{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    
<h1>Listado de citas</h1>
    <table class="table table-info table-striped" id="tablaCitas">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido paterno</th>
                <th scope="col">Nombre de mascota</th>
                <th scope="col">dia</th>
                <th scope="col">Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas%}
                <tr>
                    <td> {{ cita.nombre }} </td>
                    <td> {{ cita.apellido }}</td>
                    <td> {{ cita.nombre_mascota }}</td>
                    <td> {{ cita.dia }}</td>
                    <td> {{ cita.hora }}</td>
                </tr>                  
            {% endfor %}
            <!-- los inputs del form son invisibles, se toma el nombre del propietario y de la mascota para identificar la fila-->
            <form action='' method='POST'>
                <input type="hidden" name="propietario" id="propietario" value= "">
                <input type="hidden" name="nombre" id ="nombre" value= "">
                <input type="submit" type="hidden" name="submit" value="subir" id="botSubmit" >
            </form>
            <a href="/agendar_cita" class="btn btn-primary">Agendar cita</a>
            
        </tbody>
    </table>
    <script>
        function deleteRow(r){
            var fila = r.value
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("nombre").value = fila
            document.getElementById('botSubmit').click();
            
            document.getElementById("tablaCitas").deleteRow(i)

        }
    </script>
{% endblock %}