{% extends "base.html" %}
{% block title %}clientes{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    
<h1>Listado de clientes</h1>
    <table class="table table-info table-striped" id="tablaClientes">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido paterno</th>
                <th scope="col">Apellido materno</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td> {{ cliente.nombre }} </td>
                    <td> {{ cliente.appat }} </td>
                    <td> {{ cliente.apmat }} </td>
                    <td> {{ cliente.correo }}</td>
                </tr>        
            {% endfor %}
            <!-- los inputs del form son invisibles, se toma el nombre del propietario y de la mascota para identificar la fila-->
            <form action='' method='POST'>
                <input type="hidden" name="propietario" id="propietario" value= "">
                <input type="hidden" name="nombre" id ="nombre" value= "">
                <input type="submit" type="hidden" name="submit" value="subir" id="botSubmit" >
            </form>
            <a href="/AgregarCliente" class="btn btn-primary">Agregar cliente</a>
            
        </tbody>
    </table>
    <script>
        function deleteRow(r){
            var fila = r.value
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("nombre").value = fila
            document.getElementById('botSubmit').click();
            
            document.getElementById("tablaClientes").deleteRow(i)

        }
    </script>
{% endblock %}