<img src="/static/404-dog.png" alt="404-dogo">
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  background: #f75959;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body h1 {
  margin-bottom: 20px;
}
body p {
  font-size: 18px;
  line-height: 30px;
}
body a {
  color: #FBD160;
}
img {
    width:20em;
}

</style>




<div class="container">
  <h1>Oops, you broke the internet</h1>
  <p>Just kidding. But it seems Robo, your personal robot, can't find the page you're looking for. Please make sure you've signed in to your account, or return to <a href="/">home</a>.</p>
</div>