{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block nav %}
{% for opcion, ruta in menu.items() %}
<a class="nav-item nav-link" href="{{ruta}}">{{opcion}}</a>
{% endfor %}
{% endblock %}
{% block body %}
<div class="contenedor">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <figure>
                <img src="/static/perro1.jpg" class="card-img-top" alt="...">
            </figure>
            <h5 class="card-title">CHEEMS</h5>
            <p class="card-text">CHEEMS DE LA BUENA SUERTE PARA QUE NOS SALGAN BIEN LAS ENTREGAS</p>
            <a href="/cheems" class="btn btn-primary">Acariciar cheems</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <figure>
                <img src="/static/ARNOLD.PNG" class="card-img-top" alt="...">
            </figure>
            <h5 class="card-title">ARNOLD</h5>
            <p class="card-text">Arnold amigo de los animasles avala que todo esta bien</p>
            <a href="/chems" class="btn btn-primary">Estrechar mano</a>
        </div>
    </div>
</div>

{% endblock %}