{% extends "base.html" %}
{% block title %}mascotas{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    
<h1>Listado de mascotas</h1>
    <table class="table table-info table-striped" id="tablaMascotas">
        <thead>
            <tr>
                <th scope="col">Dueño</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de animal</th>
                <th scope="col">Raza</th>
                <th scope="col">Color</th>
                <th scope="col">Peso</th>
                <th scope="col">Altura</th>
            </tr>
        </thead>
        <tbody>
            {% for mascota in mascotas %}
                    <tr>
                        <td> {{ mascota.dueño }} </td>
                        <td> {{ mascota.nombre }} </td>
                        <td> {{ mascota.tipoAnimal }}</td>
                        <td> {{ mascota.raza }}</td>
                        <td> {{ mascota.color }}</td>
                        <td> {{ mascota.peso }}</td>
                        <td> {{ mascota.altura }}</td>
                        <!-- <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)" id="botEliminar" value="{{mascota.dueño}}">Eliminar</button><br> </td> -->
                    </tr>         
            {% endfor %}
            <!-- los inputs del form son invisibles, se toma el nombre del propietario y de la mascota para identificar la fila-->
            <form action='' method='POST'>
                <input type="hidden" name="propietario" id="propietario" value= "">
                <input type="hidden" name="nombre" id ="nombre" value= "">
                <input type="submit" type="hidden" name="submit" value="subir" id="botSubmit" >
            </form>
            <a href="/AgregarMascota" class="btn btn-primary">Añadir Mascota</a>
            
        </tbody>
    </table>
    <script>
        function deleteRow(r){
            var fila = r.value
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("nombre").value = fila
            document.getElementById('botSubmit').click();
            
            document.getElementById("tablaMascotas").deleteRow(i)

        }
    </script>
{% endblock %}