{% extends "base.html" %}
{% block title %}productos{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    
<h1>Listado de productos</h1>
    <table class="table table-info table-striped" id="tablaproductos">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td> {{ producto.nombre }} </td>
                    <td> {{ producto.descripcion }}</td>
                    <td> {{ producto.categoria }}</td>
                    <td> {{ producto.precio }}</td>
                    <td> {{ producto.cantidad }}</td>
                </tr>      
            {% endfor %}
            <!-- los inputs del form son invisibles, se toma el nombre del propietario y de la mascota para identificar la fila-->
            <form action='' method='POST'>
                <input type="hidden" name="propietario" id="propietario" value= "">
                <input type="hidden" name="nombre" id ="nombre" value= "">
                <input type="submit" type="hidden" name="submit" value="subir" id="botSubmit" >
            </form>
            <a href="/agregarProducto" class="btn btn-primary">Agregar producto</a>
            
        </tbody>
    </table>
    <script>
        function deleteRow(r){
            var fila = r.value
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("nombre").value = fila
            document.getElementById('botSubmit').click();
            
            document.getElementById("tablaProductos").deleteRow(i)

        }
    </script>
{% endblock %}