{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    
<h1>Listado de usuarios</h1>
    <table class="table table-info table-striped" id="tablaUsuarios">
        <thead>
            <tr>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido materno</th>
                <th scope="col">Apellido paterno</th>
                <th scope="col">Correo</th>
                <th scope="col">Tipo de usuario</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios%}
                <tr>
                    <td> {{ usuario.user }} </td>
                    <td> {{ usuario.nombre }}</td>
                    <td> {{ usuario.appat }}</td>
                    <td> {{ usuario.apmat }}</td>
                    <td> {{ usuario.correo }}</td>
                    <td> {{ usuario.tipo_usuario }}</td>
                </tr>                  
            {% endfor %}
            <form action='' method='POST'>
                <input type="hidden" name="propietario" id="propietario" value= "">
                <input type="hidden" name="nombre" id ="nombre" value= "">
                <input type="submit" type="hidden" name="submit" value="subir" id="botSubmit" >
            </form>
            <a href="/add_user" class="btn btn-primary">Agregar usuario</a>
            
        </tbody>
    </table>
    <script>
        function deleteRow(r){
            var fila = r.value
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("nombre").value = fila
            document.getElementById('botSubmit').click();
            
            document.getElementById("tablaCitas").deleteRow(i)

        }
    </script>
{% endblock %}